[Desktop Entry]
Categories=Application;Development;
Comment=Ghidra Software Reverse Engineering Suite
Exec=/usr/local/ghidra_9.1.2_PUBLIC/ghidraRun
GenericName=Ghidra Software Reverse Engineering Suite
Icon=/usr/local/ghidra_9.1.2_PUBLIC/docs/GhidraClass/Intermediate/Images/GhidraLogo64.png
Name=Ghidra
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false