[Desktop Entry]
Type=Application
Name=BinNavi
Exec=binnavi
Icon=binnavi
Categories=Development;
Comment=IDE that allows to inspect, navigate, edit and annotate flow graphs of disassembled code.